@import url("https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Comic+Relief:wght@400;700&family=Cutive+Mono&family=Fragment+Mono:ital@0;1&family=Indie+Flower&family=Share+Tech+Mono&display=swap");

*{
    box-sizing: border-box;
}

body {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: x-large;
  background-color: rgb(9, 0, 32);
  color: rgb(255, 255, 255);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
    font-size: 3em;
}

.hint{
    background-color: rgba(0, 195, 255, 0.507);
    border-radius: 20px;
}