
body, main, form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p{
    text-align: justify;
    align-self: center;
}

#h{
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
h1{
  text-align: center;
  flex-basis: 100%;
}

form{
  display: flex;
  align-items: center;
}

div{
  width: 600px;
}