@import url("https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Cutive+Mono&family=Fragment+Mono:ital@0;1&family=Indie+Flower&family=Share+Tech+Mono&display=swap");

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Cutive Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.t {
  color: green;
  font-weight:900;
  text-align: center;
}

h1{
    font-size: 3em;
}

li > ul{
    padding: 1em;
}

ul > li{
    padding: 2%;
}

body > ul > li:nth-child(1){
    list-style-type: none ;
}
body > ul > li:nth-child(2){
    list-style-type: none ;
}
body > ul > li:nth-child(3){
    list-style-type: none ;
}